<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>

<% include ../partials/header %>

<div class="container-fluid">
  <div class="col-sm-6 col-sm-offset-3">
      <h3><i class="fa fa-user"></i> Profile</h3>
      <a href="/users/logout" class="btn btn-sm">Logout</a>
  </div>
</div>

<% include ../partials/footer %>
