<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
</head>
<body>

<% include partials/header %>

<div class="container-fluid">
  <div class="jumbotron text-center">
    <h3><i class="fa fa-lock"></i> Authentication</h3>

    <p>Login or register with:</p>

    <a href="/users/login?type=google" class="btn btn-default"><i class="fa fa-google-plus"></i> Google</a>
      <!--<a href="/auth/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>-->
      <!--<a href="/users/signup" class="btn btn-success"><span class="fa fa-user"></span>Signup</a>-->
  </div>
</div>

<% include partials/footer %>
